.add{
  background-color: #03ba5c;
  margin: 5px;
  width: 100px;
}

.sub{
  background-color: #D82148;
  margin: 5px;
  width: 100px;
}

.box{
  max-width: 250px;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
}

p{
  font-size:  24px;
  text-align: center;
}
.App{
  min-height: 100vh;
}