


* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}

li {
  list-style: none;
}

:root {
  --theme-border: green;
  --theme-button-delete: red;
  --theme-button-submit: blue;
  --theme-button-default: purple;

}

button {
  border: 0px;
  border-radius: 5px;
  background-color: grey;
  padding: 5px 10px;
  cursor: pointer;
}